<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body  style=" background-size: cover; background-image: url(https://www.freecodecamp.org/news/content/images/2022/08/tyler-nix-7ukf-r-Oh-k-unsplash.jpg) ; background-repeat: no-repeat; ">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>