@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Oswald",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

}

h3 {
    color:$primary-color;
    font-weight: 700;
   
}

.form-input{
    border-radius: 20px;
    padding: 12px 25px;
    box-shadow: 0px 0px 7px 0px rgba(37,37,37,0.1);
    border: none;
}

.btn-list{
    font-weight: 600;
    border-bottom: 1px solid gainsboro;
    padding: 24px 0px 24px 16px;
}
.btn-list:hover{
    background-color:#0093bcc5;
    color: white;
    & a{
        color: white;
    }
}

.updateProduct{

    background-color: rgb(0, 81, 194);
}
.updateProduct:hover{
    background-color:rgb(2, 101, 239) !important;
}

.deleteProduct:hover{
    transition: all 0.4s ease-in;
    background-color: rgb(219, 3, 3) !important;
    & i{
        transition: all 0.2s ease-in;
        color: white !important;
    }
}
#upload {
    opacity: 0;
}


.image-area {
    
    padding: 1rem;
    position: relative;
}
.image-area img {
    z-index: 2;
    position: relative;
}

.navHomepage{

    padding: 5px;
}
// .navbars{
//     background-color: rgba(82, 56, 35, 0.929);
// }
.cart{  
    padding-top: 10px;
}
.cart:hover{
    color: $primary-color;
     transition: all 0.4s ease;
}
a{
    color: black;
    
}
.register{
    text-decoration: none;
}

.header{
    background-color: rgba(255, 236, 228, 0.948);
}
.nav-link{
    color: #545454;
    font-weight: 700;
    padding: 0px 0px 5px 0px;
    font-family:"Oswald",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
}
.nav-link:hover{
    transition: all 0.4s ease;
    color: $primary-color!important;
}
.logo{
    margin: auto;
}
.active{
    color: $primary-color!important;
}
.search{
     border-radius: 20px;
     width: 10em;
}
.listusers .listproducts{
    flex-direction: column;
    flex: 1 0 auto;
}
.paginationNav{
    flex-shrink: 0;
}
.footer {
    background-color: #545454;;
    position: relative;
    overflow: hidden;
}
.footer::before{
    position: absolute;
    width: 1200px;
    height: 1200px;
    top: -280px;
    left: 50%;
    margin-left: -600px;
    content: '';
    background: transparent url("https://bizweb.dktcdn.net/100/485/241/themes/911577/assets/trongdong.png?1688627722165") no-repeat center center;
    background-size: 100% auto;
    opacity: .3;
}
.overview {
    margin: 16px 24px;
    box-shadow: 2px 2px 5px rgb(223, 223, 223);
    border: none;
    width: 25rem;
    padding: 16px;
    max-height: 250px;
    text-decoration: none !important;
    border-radius: 30px;
    @media (max-width:992px) {
        width: 45%;
    }
}

.overview-body:hover {
    background-color: rgb(236, 244, 255);
    border-radius: 20px;

}
.overview-body {
    padding: 36px;
}
