<div class="col-9 col-lg-10 p-0 pb-5" style="background-color:rgb(255, 252, 252)">
    <div class="p-3 text-center">
        <h3>THÊM SẢN PHẨM MỚI</h3>
        <a class="text-dark" href="/admin/products/listproducts">
            <i class="fa-solid fa-xmark float-right pr-4 pt-2" style="font-size: 24px;"></i>
        </a>
    </div>
    <div style="background-color: white; width: 50%; padding: 8px 24px; margin: auto; box-shadow: 2px 2px 10px rgb(221, 221, 221); border-radius: 20px;">
        <form method="post" action="/admin/products/addProduct" enctype="multipart/form-data">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Loại đồ uống</label>
                    <select name="type" class="custom-select mr-sm-2 " style="border-radius: 15px;"
                        id="inlineFormCustomSelect">
                        <% types.forEach((type) => { %>
                        <option  id="<%= type.idtype %>" value="<%= type.idtype %>">"<%= type.typeName %>"</option>
                        <% }) %>                  
                    </select>
                    <h1></h1>
                </div>
            </div>
            <div class="form-group mt-1">
                <label for="nameProduct">Tên Sản Phẩm</label>
                <input name="nameProduct" type="text" class="form-control form-input" id="nameProduct"
                    placeholder="Nhập tên sản phẩm" required>
            </div>
            <div class="form-group mt-3">
                <label for="priceProduct">Đơn Giá</label>
                <div class="d-flex ">
                    <div class="mr-5">
                        <label for="priceProductM" class="pl-3" >Size M</label>
                        <input name="priceProductM" type="text" class="form-control form-input "
                            id="priceProduct" placeholder="Nhập giá sản phẩm " required>
                    </div>
                    <div>
                        <label for="priceProductL" class="pl-3">Size L</label>
                        <input name="priceProductL" type="text" class="form-control form-input"
                            id="priceProduct" placeholder="Nhập giá sản phẩm " required>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3 mb-0">
                <label class="d-block" for="exampleFormControlFile1">Ảnh Sản Phẩm</label>
                <div class="input-group  rounded-pill  shadow-sm d-block">
                    <input id="upload" name="imageProduct" type="file" accept=".png, .jpg, .jpeg"
                        onchange="readURL(this);" class="form-control d-none" required>
                    <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose
                        file</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                    </div>
                </div>
                <!-- Uploaded image area-->
                <div class="image-area mt-4  p-0"><img id="imageResult" src="#" alt=""
                        class="img-fluid rounded shadow-sm d-block">
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mô tả sản phẩm</label>
                <textarea name="descriptionProduct" class="form-control form-input" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <span class="text-success mr-auto">
                <%= message%>
            </span>

            <div class="form-check pl-0">
                <button type="submit" class="btn form-input mt-2 font-weight-bold text-white w-100"
                    style="background-color: #e39f29;">THÊM MỚI</button>
            </div>
        </form>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });


    // SHOW UPLOADED IMAGE NAME
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');
    var imageResult = document.getElementById('imageResult');
    input.addEventListener('change', showFileName);
    function showFileName(event) {
        var input = event.srcElement;
        imageResult.style.width = '20%';
        imageResult.style.height = '30%';
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }
</script>