<div class="container">
    <div class="row pt-3">
        <div class="col-md-3 ">
            <h4 class=" pl-2">Thông tin cửa hàng</h4>
            <ul class="text-white" style="font-size: 14px;">
                <li class="p-2">
                    <i class="fa-solid fa-location-dot pr-1"></i>
                    60 Hưng Lợi, Ninh Kiều, TP.Cần Thơ
                </li>
                <li class="p-2">
                    <i class="fa-solid fa-phone pr-1"></i>
                    0795924466
                </li>
                <li class="p-2">
                    <i class="fa-solid fa-envelope pr-1"></i>
                    tramcoffee@gmail.com
                </li>
            </ul>
        </div>
        <div class="col-md-3 ">
            <h4 class=" pl-2">Chính sách</h4>
            <ul class="text-white" style="font-size: 14px;">
                <li class="p-2">Chính sách bảo mật</li>
                <li class="p-2">Chính sách vận chuyển </li>
                <li class="p-2">Chính sách đổi trả </li>
                <li class="p-2">Chính sách sử dụng</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4 class=" pl-2">Hướng dẫn</h4>
            <ul class="text-white" style="font-size: 14px;">
                <li class="p-2"> Hướng dẫn mua hàng</li>
                <li class="p-2"> Hướng dẫn thanh toán</li>
                <li class="p-2"> Hướng dẫn giao nhận</li>
                <li class="p-2"> Hướng dẫn dịch vụ</li>
            </ul>
        </div>
        <div class="col-md-3 text-center">
           <h4 class=" ">Mạng xã hội</h4> 
           <div class="text-white" style="font-size: 24px;">
            <a href="https://www.facebook.com/profile.php?id=100095241941355">
                <img style="width: 32px; height: 32px;" src="/img/logo/facebook.png" alt="">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100095241941355">
                <img style="width: 32px; height: 32px;" src="/img/logo/instagram.png" alt="">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100095241941355">
                <img style="width: 32px; height: 32px;" src="/img/logo/youtube.png" alt="">
            </a>
            <a href="#">
                <img style="width: 32px; height: 32px;" src="/img/logo/tik-tok.png" alt="">
            </a>
    
               <img src="/img/logo/logowhite.png" alt="">
           </div>
        </div>
    </div>
</div>